name: Publish to PyPI

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      publish-to-testpypi:
        description: "Publish to TestPyPI instead of PyPI"
        required: false
        default: "false"

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build distributions
        run: |
          python -m build

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@v1.10.0
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
        if: ${{ github.event_name == 'release' || github.event.inputs.publish-to-testpypi != 'true' }}

      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.10.0
        with:
          repository-url: https://test.pypi.org/legacy/
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.publish-to-testpypi == 'true' }}
